#menu {
    display: table;
    min-width: 130px;
    position: absolute;
    top: 20px;
    right: 10px;
    background-color: #64a;
    margin: 0;
    padding: 0;
}

#menu li {
    display: flex;
    font-size: 20px;
    background-color: #66c;
    color: #FFF;
    margin: 0 2px 2px 20px;
    padding: 0 2px 2px 5px;
}

#menu li a {
    color: #FFF;
    text-decoration: none;
}

#main {
    background-color: #FFF;
    margin: 0 10px;
}

body {
    margin: 20px 5px;
}

h1 {
    margin: 0;
}